BYBIT_API_KEY=your_bybit_api_key_here
BYBIT_API_SECRET=your_bybit_api_secret_here
BYBIT_UID=12345678
BYBIT_SENDER_BTC=bc1...
BYBIT_SENDER_ETH=0x...
BYBIT_RECEIVE_BTC=bc1...
BYBIT_RECEIVE_ETH=0x...
TOKEN_CONTRAC_USDT=
KEY_ETH_PRIVATE_KEY_BUFFER=0xyourprivatekey
KEY_BTC_PRIVATE_KEY_BUFFER=
RPC_URL=bybit url แก้ไบ
BTC_NETWORK=mainnet
